img{
    width: 50%;
    height: 50%;
    margin: auto;
   
}
p{
    color: red;
    text-align: center;
}
form{
    text-align: center;
    width: 30%;
    margin: auto;
    background-color: rgb(216, 226, 216);
    padding: 20px;
    border-radius: 10px;
}
input{
    padding: 5px 20px;
   
    border-radius: 5px;
    margin: 10px;

}
.user{
    width: 50%;
    margin: auto;
   background-color: rgb(140, 194, 151);
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-radius: 10px;
    
}
.user div{
    display: flex;
    justify-content: center;
    width: 100%;
}
li{
    list-style-type: none;
    font-size: large;
}
h1{
    text-align: center;
}
