
<p *ngIf="usersList.length==0">NoUsers are present</p>
<table *ngIf="usersList.length>0">
    <thead>
        <tr>
            <td>s.no</td>
            <td>name</td>
            <td>email</td>
            <td>gender</td>
            <td>profession</td>
            <td>address</td>
            <td>Image</td>
            
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let user of usersList;index as i">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.profession}}</td>
            <td>{{user.address}}</td>
            <td><img [src]="user.avatar"></td>
            
        </tr>
    </tbody>
</table>

